<header id="inst_title">
  <div id="logo_area">
    <img 
      src="https://s3-us-west-1.amazonaws.com/agendaton/ClinicaLaRiviera/email_pics/ic_top_bar.jpeg" 
      id="logo" 
      (click)="redirectLogo()"
      alt="Logo"
    />
  </div>
</header>

<div class="main-container">
  <div class="welcome-card">
    <img 
      src="https://cdn-icons-png.flaticon.com/512/3063/3063176.png" 
      alt="Hospital Icon" 
      class="welcome-icon"
    />
    <h1>Bienvenido a Clínica La Riviera</h1>
    <h2>Por un Bienestar en Movimiento</h2>
    <p>Agenda tus servicios de manera fácil y rápida.</p>
  </div>

  <div class="service-container">
    <div class="service-card" (click)="selectService('Ortopedia')">
      <img 
        src="https://cdn-icons-png.flaticon.com/512/2719/2719428.png" 
        alt="Ortopedia Icon" 
        class="service-icon"
      />
      <h3>Ortopedia</h3>
    </div>
    <!-- Agrega más tarjetas de servicio aquí si es necesario -->
  </div>
</div>
