<header id="inst_title">
  <div id="logo_area">
    <img 
      src="https://s3-us-west-1.amazonaws.com/agendaton/ClinicaLaRiviera/email_pics/ic_top_bar.jpeg" 
      id="logo" 
      (click)="redirectLogo()"
      alt="Logo"
    />
  </div>
</header>

<div class="main-container">
  <div class="welcome-card">
    <div class="welcome-content">
      <h1 class="welcome-heading">¡Bienvenido a Clínica La Riviera!</h1>
      <h2 class="welcome-subheading">Tu Bienestar, Nuestra Prioridad</h2>
      <p class="welcome-description">Explora nuestros servicios de ortopedia y mucho más, con la calidad y atención que mereces.</p>
    </div>
  </div>

  <div class="service-container">
    <div class="service-card" (click)="selectService('Ortopedia')">
      <img 
        src="https://cdn-icons-png.flaticon.com/512/2719/2719428.png" 
        alt="Ortopedia Icon" 
        class="service-icon"
      />
      <h3>Ortopedia</h3>
    </div>
    <!-- Agrega más tarjetas de servicio aquí si es necesario -->
  </div>
</div>

<footer id="footer">
  <div class="footer-section">
    <h4 class="footer-title">Sede El Prado</h4>
    <p><i class="fas fa-map-marker-alt"></i> Carrera 34 No 42-90</p>
    <p>Bucaramanga – El Prado</p>
    <p><i class="fas fa-phone"></i> 607 6477414</p>
    <p><i class="fab fa-whatsapp"></i> +57 311 446 0000</p>
  </div>

  <div class="footer-section">
    <h4 class="footer-title">Sede Principal</h4>
    <p><i class="fas fa-map-marker-alt"></i> Calle 51 No. 38- 53/67</p>
    <p>Bucaramanga Cabecera</p>
    <p><i class="fas fa-phone"></i> 607 6477414</p>
    <p><i class="fab fa-whatsapp"></i> +57 311 446 0000</p>
  </div>

  <div class="footer-section">
    <h4 class="footer-title">Sede El Recreo</h4>
    <p><i class="fas fa-map-marker-alt"></i> Carrera 25 No. 44 -50</p>
    <p>Barrancabermeja</p>
    <p><i class="fas fa-phone"></i> 607 6010163</p>
    <p><i class="fab fa-whatsapp"></i> +57 311 880 0000</p>
  </div>
</footer>
