/* src/app/captura-cedula/captura-cedula.component.scss */
.captura-cedula-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  background: linear-gradient(135deg, #74b9ff, #a29bfe);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  margin-bottom: 20px;
}

.logo {
  max-width: 300px;
  margin-bottom: 10px;
  animation: pulse 2s infinite;
}

h2 {
  font-size: 1.8em;
  color: #ffffff;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 1em;
  color: #dfe6e9;
  font-family: 'Poppins', sans-serif;
}

.form-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.registro-identificacion,
.datos-usuario {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.datos-usuario {
  border: 1px solid #dfe6e9;
}

h3 {
  margin-bottom: 20px;
  font-size: 1.4em;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.input-group {
  margin-bottom: 15px;
  width: 100%;  /* Asegura que los campos ocupen todo el ancho disponible */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

input,
select {
  width: 100%;  /* Asegura que los campos ocupen todo el ancho disponible */
  max-width: 400px;  /* Limita el ancho máximo del campo */
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1em;
  color: #333;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

input:focus,
select:focus {
  border-color: #0984e3;
  box-shadow: 0 0 8px rgba(9, 132, 227, 0.5);
}

button {
  background-color: #6c5ce7;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 8px 16px rgba(108, 92, 231, 0.4);
  font-family: 'Poppins', sans-serif;
}

button i {
  margin-right: 8px;
}

button:hover {
  background-color: #341f97;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
