<div class="captura-cedula-container">
  <div class="header">
    <img
      src="https://static.wixstatic.com/media/6587f5_53931f944c2a46a3a7fc2b242c26844e~mv2.jpg/v1/fit/w_622,h_350,q_90/6587f5_53931f944c2a46a3a7fc2b242c26844e~mv2.jpg"
      alt="Logo Hospital"
      class="logo"
    />
    <h2>Registro de Identificación</h2>
    <p>Por favor, ingrese su información para continuar.</p>
  </div>

  <form [formGroup]="capturaCedulaForm" (ngSubmit)="consultarPaciente()" class="form-container">
    <div class="registro-identificacion">
      <div class="input-group animated-input">
        <label for="tipo-iden" [ngClass]="{ 'animate': isLabelAnimated }">Tipo de Identificación</label>
        <div class="custom-select-wrapper">
          <select id="tipo-iden" formControlName="tipoIden">
            <option value="" disabled>Seleccione su tipo de identificación</option>
            <option value="CC">Cédula de Ciudadanía</option>
            <option value="TI">Tarjeta de Identidad</option>
            <option value="CE">Cédula de Extranjería</option>
            <option value="RC">Registro Civil</option>
            <option value="PP">Pasaporte</option>
            <option value="PEP">Permiso especial de permanencia</option>
          </select>
        </div>
        <div *ngIf="capturaCedulaForm.get('tipoIden')?.invalid && capturaCedulaForm.get('tipoIden')?.touched" class="error-message">
          Tipo de identificación es requerido.
        </div>
      </div>

      <div class="input-group animated-input">
        <label for="numero-iden" [ngClass]="{ 'animate': isLabelAnimated }">Número de Identificación</label>
        <input
          type="text"
          id="numero-iden"
          formControlName="numeroIden"
          placeholder="Ingrese su número de identificación"
          (focus)="triggerLabelAnimation()"
        />
        <div *ngIf="capturaCedulaForm.get('numeroIden')?.invalid && capturaCedulaForm.get('numeroIden')?.touched" class="error-message">
          Número de identificación es requerido y debe ser válido.
        </div>
      </div>

      <button type="submit" [disabled]="capturaCedulaForm.invalid || loading" class="submit-btn">
        <i class="fas fa-search"></i> Consultar
      </button>
    </div>

    <div *ngIf="loading" class="loading-indicator">Cargando...</div>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>

    <!-- Modal para mostrar la información del paciente -->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h3>Datos del Paciente</h3>
      <div *ngIf="paciente">
        <p><strong>Nombre:</strong> {{ paciente.nombre }}</p>
        <p><strong>Sexo:</strong> {{ paciente.sexo }}</p>
        <p><strong>Dirección:</strong> {{ paciente.direccion }}</p>
        <p><strong>Ciudad:</strong> {{ paciente.ciudad }}</p>
        <p><strong>Teléfono:</strong> {{ paciente.telefono }}</p>
        <p><strong>Email:</strong> {{ paciente.email }}</p>
        <p><strong>Nombre de la Empresa:</strong> {{ paciente.nombreEmpresa }}</p>
      </div>
      <div class="modal-actions">
        <button (click)="confirmarInformacion()" class="confirm-btn">Aceptar</button>
      </div>
    </div>
  </div>
</div>
